.pesterlog {
	width: 600px;
	margin: 100px auto 30px;
	font-size: 14px;
	font-weight: bold;
	padding: 30px;
	border: 1px dashed gray;
	background-color: #eeeeee
}

body {
	background-color: #c6c6c6;
	font-family: courier, monospace;
}

#footer, #refresh {
	text-align: center;
}
